# 버전관리/IDE/빌드 산출물만 무시하고, 소스는 포함
.git
.git/**
**/.idea
**/.vscode
**/*.iml
**/.classpath
**/.project
**/.settings
**/.metadata

**/target
**/build
**/out

**/.DS_Store
**/Thumbs.db

# 비밀/환경
.env
**/*.env
